body{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    background-image: url(./background_images/y-so-serious-white.png);
}

h1{
    font-variant-caps: all-small-caps;
}

#description{
    min-width: 400px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#sites-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: flex-end;
    justify-items: center;
    row-gap: 1.5rem;
}

.container{
    background-color: rgba(245, 245, 245, 0.65);
    min-height: 100vh;
}

.card{
    width: 18rem;
    background-color: var(white);
    margin: 0.5rem;
}

.card .btn{
    font-size: 1.1rem;
    padding: 0.3rem 0.9rem;
    font-variant-caps: all-small-caps;
}

.card[class*="container-"]{
    padding-left: 0px;
    padding-right: 0px;
}



@media (max-width: 1400px){
    #sites-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 990px){
    #sites-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px){
    #sites-container{
        grid-template-columns: 1fr;
    }

    .card{
        width: 100%;
    }
}